.header {
  grid-area: header;
  margin: 0 120px;
  min-height: 600px;
}
.header__title {
  font: italic bold 120px "Jost", sans-serif;
  -webkit-animation: main-title 15s linear infinite;
          animation: main-title 15s linear infinite;
}
.header__list {
  list-style: none;
  margin: 100px 0;
  font: bold 30px "Montserrat", sans-serif;
  text-align: center;
}
.header__list a {
  color: #0032B4;
}
.header__list li {
  display: inline-block;
}
.header__list li:nth-child(1) {
  margin-right: 50px;
}
.header__list li:nth-child(2) {
  margin-left: 50px;
}
.header__list-link {
  background-color: #FFE977;
  padding: 20px 30px;
  transition: all 0.3s ease 0s;
}
.header__list-link:hover {
  color: #022d99;
  background-color: #fede3e;
  box-shadow: 10px 10px 0 rgba(255, 135, 99, 0.3137254902);
}

.lng-title-1 {
  text-align: left;
}
.lng-title-2 {
  text-align: right;
}

@-webkit-keyframes main-title {
  0% {
    color: #0032B4;
    text-shadow: 20px 20px 0 rgba(0, 51, 180, 0.1450980392);
  }
  25% {
    color: #5a00b4;
    text-shadow: 10px 10px 0 rgba(0, 51, 180, 0.1450980392);
  }
  50% {
    color: #9f00b4;
    text-shadow: 20px 20px 0 rgba(0, 51, 180, 0.1450980392);
  }
  75% {
    color: #005db4;
    text-shadow: 10px 10px 0 rgba(0, 51, 180, 0.1450980392);
  }
  100% {
    color: #0032B4;
    text-shadow: 20px 20px 0 rgba(0, 51, 180, 0.1450980392);
  }
}

@keyframes main-title {
  0% {
    color: #0032B4;
    text-shadow: 20px 20px 0 rgba(0, 51, 180, 0.1450980392);
  }
  25% {
    color: #5a00b4;
    text-shadow: 10px 10px 0 rgba(0, 51, 180, 0.1450980392);
  }
  50% {
    color: #9f00b4;
    text-shadow: 20px 20px 0 rgba(0, 51, 180, 0.1450980392);
  }
  75% {
    color: #005db4;
    text-shadow: 10px 10px 0 rgba(0, 51, 180, 0.1450980392);
  }
  100% {
    color: #0032B4;
    text-shadow: 20px 20px 0 rgba(0, 51, 180, 0.1450980392);
  }
}