.header {
    grid-area: header;
    margin: 0 120px;
    min-height: 600px;

    &__title {
        font: italic bold 120px 'Jost', sans-serif;
        animation: main-title 15s linear infinite;
    }

    &__list {
        list-style: none;
        margin: 100px 0;
        font: bold 30px 'Montserrat', sans-serif;
        text-align: center;

        a {
            color: #0032B4;
        }

        li {
            display: inline-block;

            &:nth-child(1) {
                margin-right: 50px;
            }
    
            &:nth-child(2) {
                margin-left: 50px;
            }
        }
    }

    &__list-link {
        background-color: #FFE977;
        padding: 20px 30px;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #022d99;
            background-color: #fede3e;
            box-shadow: 10px 10px 0 #ff876350;
        }
    }
}

.lng-title {
    &-1 {
        text-align: left;
    }

    &-2 {
        text-align: right;
    }
}

@keyframes main-title {
    0% {
        color: #0032B4;
        text-shadow: 20px 20px 0 #0033b425;
    }
    25% {
        color: #5a00b4;
        text-shadow: 10px 10px 0 #0033b425;
    }
    50% {
        color: #9f00b4;
        text-shadow: 20px 20px 0 #0033b425;
    }
    75% {
        color: #005db4;
        text-shadow: 10px 10px 0 #0033b425;
    }
    100% {
        color: #0032B4;
        text-shadow: 20px 20px 0 #0033b425;
    }
}
